<header>
  <h1>Tiny URL</h1>
</header>

<section class="container">
  <form #urlForm="ngForm" (ngSubmit)="onSubmitUrlForm(urlForm)" autocomplete="off" *ngIf="!isFormSubmitted">
    <input type="url" name="inputUrl" class="form-input" [(ngModel)]="model.inputUrl" #inputUrl = "ngModel" placeholder="Paste Your URL here"  onfocus="this.placeholder=''" 
    onblur="this.placeholder='enter your text'">
    <div class="form-error" [hidden]="inputUrl.valid || inputUrl.pristine && inputUrl.errors">
      <p *ngIf="inputUrl.errors && inputUrl.errors">Please Enter URL</p>
    </div>
    <button type="submit" [disabled]="urlForm.invalid" class="form-btn">
      {{!isLoading ? 'Generate URL' : 'Generating URL ....'}}
    </button>
  </form>
  <div class="short-url-div" *ngIf="isFormSubmitted">
    <h2>Generate URL link</h2>
    <div>
      <p>
        <a [href]="shortUrl" #shortUrlElementRef target="_blank" title="Click Me">{{ shortUrl }}</a>
      </p>
    </div>
    <div class="short-url-btn-div">
      <button (click)="copyUrl(shortUrlElementRef)">{{!isTextCopied ? 'Copy' : 'Copied'}} </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="reset()"> Reset</button>
    </div>
  </div>
</section>
<router-outlet></router-outlet>